* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  min-width: 320px;
}

/* Layout for header */

header {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  text-align: center;  
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: .75;
}

/* ---  Navigation --- */

header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;  
}

header h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  text-decoration: none;
  padding: 0 10px 0 10px;  
}

header nav ul li a:hover {
  color: brown;
}

/* sections */

section {
  padding: 30px 15px 0;
}

section:nth-child(even) {
  background-color: #ddd;
}

p, h2 {
  margin: 23px 0;
}

h2 {
  font-weight: 700;
  font-size: 20px;
}

form {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: 650px;
}

form.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid gray;
  float: left;
  width: 70%;
  background: #f1f1f1;
}

form.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: brown;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}

button {
  margin: 0px 10px 0px 10px;
}

label p {
  margin: 6px 0 23px;
}

p + p {
  margin-top: 15px;
}

form {
  text-align: left;
}

label {
  display: block;
}

input[type="range"] {
  width: 50px;
}

.form-section {
  margin-bottom: 30px;
}

.button-section {
  padding: 0 0 0 15px;
}

.overview-section input,
.overview-section textarea {
  width: 100%;
}
.coffee-type-section label {
  display: inline;
}

.coffee-type-explanation {
  font-size: 14px;
}

.coffee-entry {
  min-height: 0;
}

.coffee-entry header {
  padding: 0;
}

.coffee-entry header h3 {
  margin: 0;
}

.coffee-description {
  text-align: left;
  margin-bottom: 30px;
}

.center {  
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Favorite star */
.favorite-heart-character {
      color: #ccd6dd;
      cursor: pointer;
      display: inline-block;

      transform: scale3d(1.0, 1.0, 1.0);
      -webkit-transform: scale3d(1.0, 1.0, 1.0);
      -moz-transform: scale3d(1.0, 1.0, 1.0);

      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @-webkit-keyframes favorite-star-bounce {
      0% {
        -webkit-transform: scale3d(1.0, 1.0, 1.0);
      }
      50% {
        -webkit-transform: scale3d(1.4, 1.4, 1.0);
      }
      to {
        -webkit-transform: scale3d(1.0, 1.0, 1.0);
      }
    }

    @-moz-keyframes favorite-star-bounce {
      0% {
        -moz-transform: scale3d(1.0, 1.0, 1.0);
      }
      50% {
        -moz-transform: scale3d(1.4, 1.4, 1.0);
      }
      to {
        -moz-transform: scale3d(1.0, 1.0, 1.0);
      }
    }

    @keyframes favorite-star-bounce {
      0% {
        transform: scale3d(1.0, 1.0, 1.0);
      }
      50% {
        transform: scale3d(1.4, 1.4, 1.0);
      }
      100% {
        transform: scale3d(1.0, 1.0, 1.0);
      }
    }

    .favorite-heart-character[active] {
      color: red;

      -webkit-animation: favorite-star-bounce 0.3s ease-in-out;
      -moz-animation: favorite-star-bounce 0.3s ease-in-out;
      animation: favorite-star-bounce 0.3s ease-in-out;
    }

    .favorite-heart-character[hover] {
      color: red;
    }